.elem-scheduled-flight-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  box-shadow: 0px 0px 10px 0px #a9a9a9;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
.elem-scheduled-flight-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-scheduled-flight-text10 {
  font-size: 20px;
}
.elem-scheduled-flight-text11 {
  font-size: 20px;
}
.elem-scheduled-flight-container3 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-scheduled-flight-text12 {
  font-size: 20px;
}
.elem-scheduled-flight-text13 {
  font-size: 20px;
}
.elem-scheduled-flight-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-scheduled-flight-text14 {
  font-size: 20px;
}
.elem-scheduled-flight-text15 {
  font-size: 20px;
}
.elem-scheduled-flight-container5 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-scheduled-flight-text16 {
  font-size: 20px;
}
.elem-scheduled-flight-text17 {
  font-size: 20px;
}
.elem-scheduled-flight-container6 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-scheduled-flight-text18 {
  font-size: 20px;
}
.elem-scheduled-flight-text19 {
  font-size: 20px;
}
.elem-scheduled-flight-container7 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-scheduled-flight-text20 {
  font-size: 20px;
}
.elem-scheduled-flight-text21 {
  font-size: 20px;
}
.elem-scheduled-flight-text22 {
  display: inline-block;
}
.elem-scheduled-flight-text23 {
  display: inline-block;
}
.elem-scheduled-flight-text24 {
  display: inline-block;
}
.elem-scheduled-flight-text25 {
  display: inline-block;
}
.elem-scheduled-flight-text26 {
  display: inline-block;
}
.elem-scheduled-flight-text27 {
  display: inline-block;
}

