.elem-pretrip-maintenance-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  box-shadow: 0px 0px 10px 0px #a9a9a9;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
}
.elem-pretrip-maintenance-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  box-shadow: 0px 0px 10px 0px #a9a9a9;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #6085ff;
}
.elem-pretrip-maintenance-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text10 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text11 {
  font-size: 20px;
}
.elem-pretrip-maintenance-container3 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text12 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text13 {
  font-size: 20px;
}
.elem-pretrip-maintenance-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text14 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text15 {
  font-size: 20px;
}
.elem-pretrip-maintenance-container5 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text16 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text17 {
  font-size: 20px;
}
.elem-pretrip-maintenance-container6 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text18 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text19 {
  font-size: 20px;
}
.elem-pretrip-maintenance-container7 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text20 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text21 {
  font-size: 20px;
}
.elem-pretrip-maintenance-container8 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.elem-pretrip-maintenance-text22 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text23 {
  font-size: 20px;
}
.elem-pretrip-maintenance-text24 {
  display: inline-block;
}
.elem-pretrip-maintenance-text25 {
  display: inline-block;
}
.elem-pretrip-maintenance-text26 {
  display: inline-block;
}
.elem-pretrip-maintenance-text27 {
  display: inline-block;
}
.elem-pretrip-maintenance-text28 {
  display: inline-block;
}
.elem-pretrip-maintenance-text29 {
  display: inline-block;
}
.elem-pretrip-maintenance-text30 {
  display: inline-block;
}

